{% form_theme form '@DotitSyliusStorePlugin/Form/imagesTheme.html.twig' %}

<div class="ui tab" data-tab="media">
    <h3 class="ui top attached header">{{ 'sylius.ui.media'|trans }}</h3>

    <div class="ui attached segment">
        <div class="ui segment dotit-image">
            {{ form_row(form.logoFile) }}
        </div>

        {{ sylius_template_event(['dotit_sylius_store_plugin.admin.store.' ~ action ~ '.tab_media', 'dotit_sylius_store_plugin.admin.store.tab_media'], {'form': form}) }}
    </div>
</div>
