<form id="dotit-update-stores" class="dotit-update-stores" action="{{ path('dotit_sylius_store_plugin_admin_store_update_position') }}" method="post">
    <input type="hidden" name="_method" value="PUT" />
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('update-store-position') }}" />
    <button class="ui labeled loadable icon button sylius-save-position" type="submit">
        <i class="icon checkmark"></i>
        {{ 'sylius.ui.save_positions'|trans }}
    </button>
</form>
